Client/Debug
Client/Release
Client/x64
Loader/Debug
Loader/Release
Loader/x64
Server/Debug
Server/Release
Server/x64
SampleMod/Debug
SampleMod/Release
SampleMod/x64
LuaMod/Debug
LuaMod/Release
LuaMod/x64
Debug
Release
